<!DOCTYPE HTML>
<html>
	<head>
		<title>Batalla Naval</title>
		<meta charset="UTF-8"/>
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Batalla Naval
				<div class="col-md-6">
					<div class="text-primary page-header">
						<h2><%= @mensaje %>
					</div>
					<h2><a class="btn btn-primary btn-lg" href="/home"><%= @boton %></a>
					<hr>
				</div>
				<div class="col-md-6">
					<br><br>
					<img src="/images/Batalla-naval-wallpaper.jpg" alt="Batalla Naval" class="img-rounded img-responsive">
				</div>
			</div>
		</div>
	</body>
</html>