!!!
%html
	%head
		%title Batalla Naval - Partida
		%meta{:charset => "UTF-8"}
		%link{:href => "/vendor/bootstrap/css/bootstrap.css", :rel => "stylesheet"}
		%link{:href => "/vendor/bootstrap/css/bootstrap-theme.css", :rel => "stylesheet"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%body
		.container
			.row
				%h1 Batalla Naval
				.text-primary.page-header
					%h2 Es el turno del enemigo
			.row
				%img.img-rounded.img-responsive{:src => "/images/BATTLESHIP_VFX_03.jpg", :alt => "Batalla Naval"}
				%hr